<div class="jumbotron">
    <h1 class="display-4">Introduccion!</h1>
    <hr class="my-4">
    <strong><h4>Estudiante: Angel David Yoxon Mancio</h4></strong>
    <p>Este proyecto es para el curso de Calculo II del Ingeniero Fernando Cordon, y contiene una recopilacion de distintos temas que abarcan tanto las matematicas, algebra, trigonometria y calculo todo esto contenido e indexado con subtemas, y tiene como
        objetivo plasmar y dejar constancia en una Wiki que facilite dichos temas hacia los estudiantes.</p>
</div>

<app-menu></app-menu>