<div class="container md-col-12 pt-lg-4">
    <h4>Tema</h4>
</div>
<div class="container w-100 p-3 lg-col-12">
    <div class="card">
        <div class="card-header">
            <strong>{{ tema.titulo }}
                <a [routerLink]="['']" class="btn btn-outline-danger btn-sm float-right">Regresar</a>
            </strong>
        </div>
        <div *ngFor="let temageneral of tema.contenido; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
            <div class="card-body">
                <p class="card-text"><strong>{{temageneral.titulo}}</strong></p>
                <p class="card-text">{{temageneral.contenido}}</p>
            </div>


            <div *ngIf='temageneral.teorema?.length > 0' class="card-body">
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;Teorema/Representacion</strong>
                <img src="assets/img/{{ tema.idx + 1 }}/{{temageneral.teorema}}.jpg " class="rounded mx-auto d-block" alt="">
            </div>

            <div *ngIf='temageneral.ejemplo?.length > 0' class="card-body">
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo</strong>
                <img src="assets/img/{{ tema.idx + 1 }}/{{temageneral.ejemplo}}.jpg " class="rounded mx-auto d-block" alt="">
            </div>
            <hr class="my-4">
        </div>
    </div>
</div>

<br>
<br>
<br>

<div *ngIf='tema.subtemas?.length > 0' class="container md-col-12">
    <h4>Sub Temas</h4>
</div>
<div class="container w-100 p-3 lg-col-12" *ngFor="let subtema of tema.subtemas; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
    <div class="card">
        <div class="card-header">
            <strong>{{subtema.titulo}}</strong>
        </div>
        <div class="card-body">
            <p class="card-text">{{subtema.contenido}}.</p>
        </div>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;Ejemplo</strong>

        <div class="card-body">
            <p class="card-text">{{tema.contenido}}.</p>
        </div>
    </div>
</div>