<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">
        <img src="assets/navbar.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Proyecto Calculo II
    </a>
</nav>