<div class="card mx-auto md-col-8" style="width: 60rem;">
    <div class="card-header md-col-8">
        Temas
    </div>
    <ul class="list-group list-group-flush" *ngFor="let tema of temas; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
        <li class="list-group-item">{{tema.idx + 1}}&nbsp;&nbsp;-&nbsp;&nbsp; {{tema.titulo}}
            <a [routerLink]="['/contenido',tema.idx]" class="btn btn-sm btn-outline-success float-right">Ver más...</a>
        </li>
    </ul>
</div>

<br>
<br>
<br>